In [2]:
import pandas as pd
import numpy as np
import sklearn

In [3]:
df = pd.read_csv('Dataframe.csv')
df.head()

,Unnamed: 0,CASE_STATUS,EMPLOYER_NAME,SOC_NAME,JOB_TITLE,FULL_TIME_POSITION,PREVAILING_WAGE,YEAR,WORKSITE,lon,lat
0,0,CERTIFIED,"EVEREST CONSULTING GROUP, INC",Computer Programmers,PROGRAMMER ANALYST,Y,55245.0,2012.0,"EDISON, NEW JERSEY",-74.412095,40.518715
1,1,CERTIFIED,SCHULTE ROTH & ZABEL LLP,Computer Systems Analysts,LEGAL PRACTICE PROJECT MANAGER,Y,74422.0,2012.0,"NEW YORK, NEW YORK",-74.005941,40.712784
2,2,CERTIFIED,ERNST &AMP; YOUNG U.S. LLP,MANAGEMENT ANALYSTS,ADVISORY SENIOR,Y,80496.0,2016.0,"BOSTON, MASSACHUSETTS",-71.058880,42.360082
3,4,CERTIFIED,MERRILL LYNCH,COMPUTER AND INFORMATION SYSTEMS MANAGERS,VP; TECHNOLOGY MANAGER-SYSTEMS ENGINEER,Y,138133.0,2015.0,"NEW YORK, NEW YORK",-74.005941,40.712784
4,5,CERTIFIED,DELOITTE CONSULTING LLP,"Software Developers, Systems Software",CONSULTANT,Y,59259.0,2012.0,"WALNUT CREEK, CALIFORNIA",-122.065182,37.910078

In [4]:
'''
Certified: Employer filed the LCA, which was approved by DOL
Certified Withdrawn: LCA was approved but later withdrawn by employer
Withdrawn: LCA was withdrawn by employer before approval
Denied: LCA was denied by DOL
foi transformado em 0 quando DENIED e 1 quando CERTIFIED, CERTIFIED-WITHDRAWN juntos. WITHDRAWN deletado



Occupational name associated with the SOC_CODE. 
SOC_CODE is the occupational code associated with the job being requested for temporary labor condition, 
as classified by the Standard Occupational Classification (SOC) System.
'''
def dummify(data, column_name):
    df = data.copy()
    df2 = pd.concat([df.drop(column_name, axis=1), pd.get_dummies(data[column_name], prefix=column_name)], axis=1)
    return df2

def mapp (value, start1, stop1, start2, stop2):
    return start2 + (stop2 - start2) * ((value - start1) / (stop1 - start1))


df = df.drop(["WORKSITE","JOB_TITLE","Unnamed: 0"], axis=1)
df = df.dropna()
df["SOC_NAME"] = df["SOC_NAME"].apply(lambda x: x.upper())

df = df.drop(["EMPLOYER_NAME"], axis=1) #mudar depois

df["FULL_TIME_POSITION"] = df["FULL_TIME_POSITION"].apply(lambda x: 0 if x=="N" else 1)

df = df[df.CASE_STATUS != "WITHDRAWN"]
df["CASE_STATUS"] = df["CASE_STATUS"].apply(lambda x: 1 if (x=="CERTIFIED-WITHDRAWN" or x=="CERTIFIED") else 0)

df = dummify(df, "SOC_NAME")



latmin = df["lat"].min()
latmax = df["lat"].max()
lonmin = df["lon"].min()
lonmax = df["lon"].max()

df["lat"] = df["lat"].apply(lambda x: mapp(x, latmin, latmax, 0, 1))
df["lon"] = df["lon"].apply(lambda x: mapp(x, lonmin, lonmax, 0, 1))

In [10]:
df.head()

,CASE_STATUS,FULL_TIME_POSITION,PREVAILING_WAGE,YEAR,lon,lat,SOC_NAME_ACCOUNTANTS,SOC_NAME_ACCOUNTANTS AND AUDITORS,SOC_NAME_ACTUARIES,SOC_NAME_ADMINISTRATIVE SERVICES MANAGERS,...,SOC_NAME_VETERINARIANS,SOC_NAME_VETERINARY ASSISTANTS AND LABORATORY ANIMAL CARETA,SOC_NAME_VETERINARY TECHNOLOGISTS AND TECHNICIANS,SOC_NAME_VOCATIONAL EDUCATION TEACHERS POSTSECONDARY,"SOC_NAME_VOCATIONAL EDUCATION TEACHERS, POSTSECONDARY",SOC_NAME_WEB ADMINISTRATORS,SOC_NAME_WEB DEVELOPERS,"SOC_NAME_WHOLESALE AND RETAIL BUYERS, EXCEPT FARM PRODUCTS",SOC_NAME_WRITERS AND AUTHORS,SOC_NAME_ZOOLOGISTS AND WILDLIFE BIOLOGISTS
0,1,1,55245.0,2012.0,0.274867,0.526872,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,1,74422.0,2012.0,0.276204,0.530647,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,1,80496.0,2016.0,0.285912,0.562696,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,1,138133.0,2015.0,0.276204,0.530647,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,1,59259.0,2012.0,0.117900,0.476121,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
col = []

for i in df.columns:
    if i.startswith("SOC_NAME_"):
        col.append(i)

X = df.drop(["CASE_STATUS"], axis=1).values
y = df["CASE_STATUS"].values

index = round(df.index.size*0.8)

X_train, X_test = X[:index], X[index:]
y_train, y_test = y[:index], y[index:]

In [7]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score


model = LogisticRegression(solver="lbfgs")
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
print("Acurácia: {}".format(100*accuracy_score(y_test, y_pred)))

Acurácia: 96.97910447761194

In [15]:
df.head()
# print(col)

,CASE_STATUS,FULL_TIME_POSITION,PREVAILING_WAGE,YEAR,lon,lat,SOC_NAME_ACCOUNTANTS,SOC_NAME_ACCOUNTANTS AND AUDITORS,SOC_NAME_ACTUARIES,SOC_NAME_ADMINISTRATIVE SERVICES MANAGERS,...,SOC_NAME_VETERINARIANS,SOC_NAME_VETERINARY ASSISTANTS AND LABORATORY ANIMAL CARETA,SOC_NAME_VETERINARY TECHNOLOGISTS AND TECHNICIANS,SOC_NAME_VOCATIONAL EDUCATION TEACHERS POSTSECONDARY,"SOC_NAME_VOCATIONAL EDUCATION TEACHERS, POSTSECONDARY",SOC_NAME_WEB ADMINISTRATORS,SOC_NAME_WEB DEVELOPERS,"SOC_NAME_WHOLESALE AND RETAIL BUYERS, EXCEPT FARM PRODUCTS",SOC_NAME_WRITERS AND AUTHORS,SOC_NAME_ZOOLOGISTS AND WILDLIFE BIOLOGISTS
0,1,1,55245.0,2012.0,0.274867,0.526872,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,1,74422.0,2012.0,0.276204,0.530647,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,1,80496.0,2016.0,0.285912,0.562696,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,1,138133.0,2015.0,0.276204,0.530647,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,1,59259.0,2012.0,0.117900,0.476121,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [31]:
d = {"FULL_TIME_POSITION":1, "PREVAILING_WAGE":100000.0, "YEAR":2015.0, "lon":0.274867, "lat":0.526872, "SOC_NAME_AUTOMOTIVE ENGINEERS":1}
l=[]

for i in df.columns:
    if i != "CASE_STATUS":
        if i in d:
            l.append(d[i])
        else:
            l.append(0)
    
# print(l)
model.predict([l])

array([1], dtype=int64)

In [32]:
df["CASE_STATUS"].value_counts()

1    81116
0     2635
Name: CASE_STATUS, dtype: int64